<p><span class="object-key">Population: </span>{{population}}</p>
<p><span class="object-key">Languages: </span>{{#each languages}} <span>{{this}}</span>{{#if @last}}. {{else}}, {{/if}} {{/each}}</p>
<p><span class="object-key">Capital: </span>{{capital}}</p>